@model List<AccountListModel>
@{
	Layout = "~/views/shared/_layout.cshtml";
}

<div class="row">
	<div class="col-md-6">
		<h5>Kullanıcı Bilgileri</h5>
		<div class="card">
			<div class="card-body">
				<p class="card-text">Ad: @ViewBag.FullName</p>
				<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Kullanıcı listesine geri dön</a>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<h5>Hesap Bilgileri</h5>
		@if (Model.Count > 0)
		{
			@foreach (var account in Model)
			{
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Hesap Numarası : @account.AccountNumber</h5>
						<p class="card-text">Bakiye : @account.Balance</p>
						<a asp-action="SendMoney" asp-controller="Account" asp-route-accountId="@account.Id" class="btn btn-primary">Para Gönder</a>
					</div>
				</div>
			}
		}
		else
		{
			<div class="alert alert-primary" role="alert">
				Kullanıcının hesabı bulunmamaktadır!
			</div>
		}
	</div>
</div>